<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-inner">
      <div class="close-modal">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="new-modal-error"></div>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
      </div>
      <%= form_with model: @aquarium, remote: true do |f| %>
        <div class="modal-body">
          <div class="mb-3">
            <%= f.label :aquarium_introduction, class: "col-form-label" %>
            <%= f.text_area :aquarium_introduction, class: "form-control", size: "30x5", placeholder: "ここに投稿内容を入力します" %>
          </div>
          <div class="mb-3">
            <%= f.label :aquarium_image, class: "col-form-label" %>
            <%= f.file_field :aquarium_image, class: "form-control" %>
          </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
        </div> 
        <div class="modal-footer">
        <%= f.submit "投稿する", class: "btn btn-primary mb-3" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
