<table class="table">
  <tbody class="posts">
    <tr class="posts-table">
      <td class="d-none d-lg-block">
        <div class="row">
          <%= link_to image_tag(aquarium.user.user_image.to_s, alt: "user-icon", size: "70", class: "host-icon"), detail_path(aquarium.user.id), class: "col-lg-1 col-sm-1" %>
          <div class="col-lg-7 col-sm-6 ms-2">
            <span>
              <%= link_to aquarium.user.name, "/users/#{aquarium.user.id}", class: "user-name" %>
            </span>
            <br>
            <p class="time-stamp">
              <%= "#{time_ago_in_words(aquarium.created_at)}前に投稿" %>
            </p>
            <p class="introduction pt-2">
              <%= aquarium.aquarium_introduction %>
            </p>
            <div class="likes-buttons" id="likesButtons-<%= aquarium.id %>">
              <%= render partial: "likes/like", locals: { aquarium: aquarium } %>
            </div>

            <div class="comment-count">
              <%= link_to aquarium_path(aquarium, anchor: "comment-form"), class: "comment-link" do %>
                <span class="far fa-comment-dots"></span>
              <% end %>
              <%= aquarium.comments.count %>
            </div>
          </div>
          
          <div class="col-lg-3 col-sm-12">
            <% if aquarium.persisted? && aquarium.aquarium_image? %>
              <%= link_to image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
            <% else %>
              <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>

    <div class="d-lg-none">
      <div class="posts-sp-box">
        <div class="row">
          <%= link_to image_tag(aquarium.user.user_image.to_s, alt: "user-icon", size: "70", class: "host-icon"), detail_path(aquarium.user.id), class: "col-sm-1" %>
          <div class="col-sm-6 ms-3">
            <p class="user-name">
              <%= link_to aquarium.user.name, detail_path(aquarium.user.id) %>
            </p>
            <br>
            <p class="time-stamp">
              <%= "#{time_ago_in_words(aquarium.created_at)}前に投稿" %>
            </p>
          </div>
          <div class="col-sm-4 like-comment">
            <div class="likes-buttons" id="likesButtons-sp-<%= aquarium.id %>">
              <%= render partial: "likes/like", locals: {aquarium: aquarium} %>
            </div>

            <div class="comment-count">
              <%= link_to aquarium_path(aquarium, anchor: "comment-form"), class: "comment-link" do %>
                <span class="far fa-comment-dots"></span>
                <%= aquarium.comments.count %>
              <% end %>
            </div>
          </div>

          <div class="col">
            <p class="introduction">
              <%= aquarium.aquarium_introduction %>
            </p>
          </div>
          <% if aquarium.persisted? && aquarium.aquarium_image? %>
            <%= link_to image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
          <% else %>
            <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
          <% end %>
        </div>
      </div>
    </div>
  </tbody>
</table>