<table class="table">
  <tbody class="posts">
    <tr>
      <td class="d-none d-lg-block">
        <div class="row">
          <%= link_to image_tag("default_user.png", alt: "user-icon", size: "70", class: "user-icon"), "#", class: "col-lg-1" %>
          <div class="col-lg-8 ms-2">
            <span class="user-name">
              <%= link_to "user", "#" %>
            </span>
            <br>
            <span class="time-stamp">
              Timestamp
            </span>
            <p class="introduction pt-2">rokさん、魚の死骸に蟻が数百匹たかってますよ！</p>
            <span like><i class="fas fa-heart"></i>0</span>
            <div class="comment-count">
              <%= link_to "#" do %>
                <i class="far fa-comment-dots">0</i>
              <% end %>
            </div>
          </div>
          
          <div class="col-lg-2">
            <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail aquarium-image"), "#" %>
          </div>
        </div>
      </td>
      <td class="d-lg-none">
        <%= link_to image_tag("default_user.png", alt: "user-icon", size: "70", class: "user-icon"), "#", class: "col-lg-1" %>
        <br>
        <p class="user-name">
          <%= link_to "user", "#" %>
        </p>
        <br>
        <p class="time-stamp">
          Timestamp
        </p>
        <p class="introduction">
          <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-caret-down">introduction</i>
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            rokさん、魚の死骸に蟻が数百匹たかってますよ！
          </div>
        </div>
        <span like><i class="fas fa-heart"></i>0</span>
        <div class="comment-count">
          <%= link_to "#" do %>
            <i class="far fa-comment-dots">0</i>
          <% end %>
        </div>
      </td>
      <td class="d-lg-none">
        <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail aquarium-image"), "#" %>
      </td>
    </tr>

    <% @aquaria.each do |aquarium| %>
      <tr>
        <td class="d-none d-lg-block">
          <div class="row">
            <%= link_to image_tag(aquarium.user.user_image.to_s, alt: "user-icon", size: "70", class: "host-icon"), detail_path(aquarium.user.id), class: "col-lg-1" %>
            <div class="col-lg-8 ms-2">
              <span class="user-name">
                <%= link_to aquarium.user.name, detail_path(aquarium.user.id) %>
              </span>
              <br>
              <span class="time-stamp">
                <%= aquarium.created_at %>
              </span>
              <p class="introduction pt-2">
                <%= aquarium.aquarium_introduction %>
              </p>
              <span like><i class="fas fa-heart"></i>0</span>
              <div class="comment-count">
                <%= link_to "#" do %>
                  <i class="far fa-comment-dots">0</i>
                <% end %>
              </div>
            </div>
            
            <div class="col-lg-2">
              <% if aquarium.persisted? && aquarium.aquarium_image? %>
                <%= link_to image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
              <% else %>
                <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
              <% end %>
            </div>
          </div>
        </td>
        <td class="d-lg-none">
        <%= link_to image_tag(aquarium.user.user_image.to_s, alt: "user-icon", size: "70", class: "user-icon"), detail_path(aquarium.user.id), class: "col-lg-1" %>
          <br>
          <p class="user-name">
            <%= link_to aquarium.user.name, detail_path(aquarium.user.id) %>
          </p>
          <br>
          <p class="time-stamp">
            <%= aquarium.created_at %>
          </p>
          <p class="introduction">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-caret-down">introduction</i>
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <%= aquarium.aquarium_introduction %>
            </div>
          </div>
          <span like><i class="fas fa-heart"></i>0</span>
          <div class="comment-count">
            <%= link_to "#" do %>
              <i class="far fa-comment-dots">0</i>
            <% end %>
          </div>
        </td>
        <td class="d-lg-none">
          <% if aquarium.persisted? && aquarium.aquarium_image? %>
            <%= link_to image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
          <% else %>
            <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>