<%= provide(:title, "aquarium-detail") %>
<div class="main-content my-4">
  <div class="container">
    <div class="bg-color aquariums">
      <div class="aquariums-image">
        <% if @aquarium.persisted? && @aquarium.aquarium_image? %>
          <%= image_tag(@aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail aquarium-image") %>
        <% else %>
          <%= image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail aquarium-image") %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-lg-8 ps-5">
          <p>いいね！</p> <!-- 後でeachに対応したものに置き換える -->
          <p>introduction</p> <!-- 後でeachに対応したものに置き換える -->
        </div>
        <div class="col-lg-4 aquariums-user pe-5">
          <div class="user-icon mb-1">
            <%= link_to image_tag(@aquarium.user.user_image.to_s, alt: "user-icon", size: "70", class: "user-icon"), detail_path(@aquarium.user.id), class: "col-lg-1" %>
          </div>
            <p><%= link_to @aquarium.user.name, detail_path(@aquarium.user.id) %></p>
        </div>
      </div>
    </div>
  </div>
</div>