<%= provide(:title, "パスワード再設定") %>

<div class="container devise">
  <div class="devise-form">
    <h2 class="my-4 fs-2">パスワード変更</h2>
    <div class="devise-inner">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", model: f.object %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "新しいパスワード" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em><br />
          <% end %>
          <%= f.password_field :password, class: "form-control col-10 px-2", autofocus: true, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
          <%= f.password_field :password_confirmation, class: "form-control col-10 px-2", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "パスワードを変更する", class: "form-control btn-primary mt-5 mb-4" %>
        </div>
      <% end %>

      <div class="mb-2">
        <%= link_to "ログイン", new_user_session_path %>
        <br>
        <%= link_to "アカウント登録", new_user_registration_path %>
      </div>
    </div>
  </div>
</div>
