<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand ms-2 me-5" do %>
      <p class="mb-0 fs-3 logo"><i class="fas fa-fish"></i>Aquarist</p>
    <% end %>
    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="hamburger">
        <i class="fas fa-bars" style="color: #fff; font-size: 30px;"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto fs-4">
          <li class="nav-item">
            <%= link_to "Shop search", "#", class: "nav-link me-4" %>
          </li>
          <li class="nav-item dropdown" id="current_user">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag("default_user.png", alt: "user_image", size: "50") %>
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "アカウント", detail_path(current_user.id), class: "dropdown-item" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to "Aquaristとは?", "#about", class: "navbar-brand d-none d-lg-block" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="hamburger">
        <i class="fas fa-bars" style="color: #fff; font-size: 30px;"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav fs-4">
          <li class="nav-item me-4">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item me-3">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>

