<div class="user-profile shadow mb-5 bg-white rounded">
  <div class="profile-area">
    <div class="profile-background-container">
      <%= image_tag 'nettaigyo.jpg', class: "profile-background-image" %>
    </div>
    <div class="user-photo-name row">
      <div class="col-2">
        <%= image_tag(@user.user_image.to_s, alt: "user_image", class: "host-icon profile-icon") %>
      </div>
      <h2 class="col-4"><%= @user.name %></h2>
    </div>
    <div class="user-info container">
      <div class="self-introduction">
        <%= @user.introduction %>
      </div>
      <div class="xs-block">
        <% if current_user != @user %>
          <% if @user.followed_by?(current_user) %>
            <%= link_to user_relationships_path(@user.id), method: :delete, class: "btn follow-btn following" do %>
              <span>フォロー中</span>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user.id), method: :post, class: "btn follow-btn" do %>
              <i class="fas fa-plus"></i>
              <span>フォロー</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <ul class="user-stat">
        <% if current_user != @user %>
          <li class="d-none d-sm-block">
            <div id="followBtn-<%= @user.id %>">
              <%= render partial: "users/follow_btn", locals: { user: @user } %>
            </div>
          </li>
        <% end %>
        <% if @user.id == current_user.id %>
          <li>
            <%= link_to "編集", edit_user_registration_path, class: "user-edit btn btn-primary mx-3" %>
          </li>
        <% end %>
        <li class="post-count">
          <%= link_to users_posts_path do %>
            <span><%= @user.aquaria.count %></span><br>
            投稿
          <% end %>
        </li>
        <li>
          <%= link_to follows_user_path do %>
            <span><%= @user.followings.length %></span><br>
            フォロー
          <% end %>
        </li>
        <li>
          <%= link_to followers_user_path do %>
            <span><%= @user.followers.length %></span><br>
            フォロワー
          <% end %>
        </li>
      </ul>
    </div>
  </div>


  <ul class="nav nav-fill" id="user-nav-pc">
    <li class="nav-item">
      <%= link_to "投稿一覧", users_posts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "いいねした投稿", users_liked_aquaria_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "フォロー", follows_user_path(@user.id), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "フォロワー", followers_user_path(@user.id), class: "nav-link" %>
    </li>
  </ul>
</div>