<div class="col-lg-2 sidebar bg-color p-4 d-none d-lg-block shadow p-3 mb-5 bg-white rounded">
  <ul class="nav flex-column" id="user-nav-pc">
    <li class="nav-item">
      <%= link_to "アカウント", detail_path(@user.id), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "投稿一覧", users_posts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "いいねした投稿", users_liked_aquaria_path, class: "nav-link" %>
    </li>
  </ul>
</div>
<div class="col-lg-2 bg-color d-lg-none nav-sp  shadow p-3 mb-5 bg-white rounded">
  <ul class="nav" id="user-nav-sp">
    <li class="nav-item">
      <%= link_to "アカウント", detail_path(@user.id), class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "投稿一覧", users_posts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "いいねした投稿", users_liked_aquaria_path, class: "nav-link" %>
    </li>
  </ul>
</div>