<%= provide(:title, "user_detail") %>
<div class="container user py-4">
  <div class="row">
    <%= render "users_navbar" %>
    
    <div class="col-md-8 user-detail bg-color">
      <div class="user-detail-box">
        <div class="update-content">
          <div class="row">
            <h5 class="detail-heading">アカウント</h5>
          </div>
        </div>
        
        <div class="update-content">
          <div class="row">
            <label class="col-md-5" for="name">名前</label>
            <div class="col-md-7"><%= current_user.name %></div>
          </div>
        </div>

        <div class="update-content">
          <div class="row">
            <label class="col-md-5 user-icon" for="user_image">プロフィール画像</label>
            <div class="col-md-7">
              <%= image_tag("default_user.png", alt: "user_image", size: "50") %>
            </div>
          </div>
        </div>

        <div class="update-content">
          <div class="row">
            <label class="col-md-5" for="email">メールアドレス</label>
            <div class="col-md-7"><%= current_user.email %></div>
          </div>
        </div>
        
        <div class="update-content">
          <div class="row">
            <label class="col-md-5" for="password">パスワード</label>
            <div class="col-md-7">*********</div>
          </div>
        </div>
        
        <div class="update-content">
          <div class="row">
          <p>
            <%= link_to "編集", edit_user_registration_path, class: "col-md-2 btn btn-primary mx-3" %>
          </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>