<%= provide(:title, "アカウント詳細") %>
<div class="container user py-4">
    <%= render "users_navbar" %>
  <div class="row">
    <div class="col-md-8 user-detail bg-color shadow p-3 mb-5 bg-white rounded">
      <div class="user-detail-box">
        <div class="update-content">
          <div class="row">
            <h5 class="detail-heading">アカウント</h5>
          </div>
        </div>
        
        <div class="update-content">
          <div class="row">
            <label class="col-md-5" for="name">名前</label>
            <div class="col-md-7"><%= @user.name %></div>
          </div>
        </div>

        <div class="update-content">
          <div class="row">
            <label class="col-md-5 user-icon" for="user_image">プロフィール画像</label>
            <div class="col-md-7">
              <%= image_tag(@user.user_image.to_s, alt: "user_image", class: "host-icon") %>
            </div>
          </div>
        </div>

        <div class="update-content introduction">
          <div class="row">
            <label class="col-md-5" for="introduction">自己紹介</label>
            <div class="col-md-7">
              <%= @user.introduction %>
            </div>
          </div>
        </div>

        <div class="update-content">
          <div class="row">
            <label class="col-md-5" for="email">メールアドレス</label>
            <div class="col-md-7"><%= @user.email %></div>
          </div>
        </div>
        
        <div class="update-content">
          <div class="row">
            <label class="col-md-5" for="password">パスワード</label>
            <div class="col-md-7">*********</div>
          </div>
        </div>
        
        <div class="update-content">
          <div class="row">
            <% if @user.id == current_user.id %>
              <p>
                <%= link_to "編集", edit_user_registration_path, class: "col-md-2 btn btn-primary mx-3" %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>