<%= provide(:title, "アカウント詳細") %>

<div class="detail-container container py-4">
  <div class="user-profile shadow mb-5 bg-white rounded">
    <div class="profile-area">
      <div class="profile-background-container">
        <% if @user.profile_image? %>
          <%= image_tag(@user.profile_image.url, class: "profile-background-image") %>
        <% else %>
          <%= image_tag("profile_default_image.jpg", class: "profile-background-image") %>
        <% end %>
      </div>
      <div class="user-photo-name row">
        <div class="col-2">
          <% if @user.user_image? %>
            <%= image_tag(@user.user_image.to_s, alt: "user_image", class: "host-icon profile-icon") %>
          <%  else %>
            <%= image_tag("default_user.jpeg", alt: "user_image", class: "host-icon profile-icon") %>
          <%  end %>
        </div>
        <h2 class="col-4"><%= @user.name %></h2>
      </div>
      <div class="user-info container">
        <div class="self-introduction">
          <%= @user.introduction %>
        </div>
        <div class="follow-edit-btn">
          <% if current_user != @user %>
            <div id="followBtn-<%= @user.id %>">
              <%= render partial: "users/follow_btn", locals: { user: @user } %>
            </div>
          <% else %>
              <%= link_to "プロフィール編集", edit_user_registration_path, class: "user-edit btn btn-primary mx-3" %>
          <% end %>
        </div>
        <ul class="user-stat">
          <li class="post-count">
            <%= link_to users_posts_path, remote: :true do %>
              <span><%= @user.aquaria.count %></span><br>
              投稿
            <% end %>
          </li>
          <li>
            <%= link_to follows_user_path, remote: :true do %>
              <span class="follows-count" id="followsCount-<%= @user.id %>"><%= render partial: "users/follows_count", locals: { user: @user } %></span><br>
              フォロー
            <% end %>
          </li>
          <li>
            <%= link_to followers_user_path, remote: :true do %>
              <span class="followers-count" id="followersCount-<%= @user.id %>"><%= render partial: "users/followers_count", locals: { user: @user } %></span><br>
              フォロワー
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <ul class="nav nav-fill" id="user-nav-pc">
      <li class="nav-item">
        <%= link_to "投稿一覧", users_posts_path, class: "nav-link", remote: :true %>
      </li>
      <li class="nav-item">
        <%= link_to "いいねした投稿", users_liked_aquaria_path, class: "nav-link", remote: :true %>
      </li>
      <li class="nav-item">
        <%= link_to "フォロー", follows_user_path(@user.id), class: "nav-link follow-link", remote: :true %>
      </li>
      <li class="nav-item">
        <%= link_to "フォロワー", followers_user_path(@user.id), class: "nav-link follower-link", remote: :true %>
      </li>
    </ul>
  </div>
</div>
<div class="detail-container container">
  <div id="detailContents">
  </div>
</div>