<%= provide(:title, "いいねした投稿") %>

<div class="container user py-4">
  <%= render "users_navbar" %>

  <div class="col bg-color user-posts jscroll">
    <div class="user-posts-box">
      <% @liked_aquaria.each do |aquarium| %>
        <div class="d-none d-lg-block shadow p-3 mb-5 bg-white rounded">
          <div class="row">
            <%= link_to image_tag(aquarium.user.user_image.to_s, alt: "user-icon", size: "70", class: "host-icon"), users_posts_path(aquarium.user.id), class: "col-lg-1 col-sm-1" %>
            <div class="col-lg-7 col-sm-6 ms-2">
              <span>
                <%= link_to aquarium.user.name, users_posts_path(aquarium.user.id), class: "user-name" %>
              </span>
              <br>
              <p class="time-stamp">
                <%= "#{time_ago_in_words(aquarium.created_at)}前に投稿" %>
              </p>
              <p class="introduction pt-2">
                <%= aquarium.aquarium_introduction %>
              </p>
              <% if current_user.id == @user.id %>
                <%= link_to aquarium_likes_path(aquarium), method: "delete" do %>
                  <span class="fas fa-heart like-btn"></span>
                <% end %>
                <%= aquarium.likes.count %>

                <div class="comment-count">
                  <%= link_to aquarium_path(aquarium, anchor: "comment-form") do %>
                    <span class="far fa-comment-dots"></span>
                    <%= aquarium.comments.count %>
                  <% end %>
                </div>
              <% end %>
            </div>
            
            <div class="col-lg-3 col-sm-12">
              <% if aquarium.persisted? && aquarium.aquarium_image? %>
                <%= link_to image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail"), aquarium_path(aquarium) %>
              <% else %>
                <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail"), aquarium_path(aquarium) %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="d-lg-none">
          <div class="posts-sp-box shadow p-3 mb-5 bg-white rounded">
            <div class="row">
              <div class="col ms-3">
                <p class="time-stamp">
                  <%= "#{time_ago_in_words(aquarium.created_at)}前に投稿" %>
                </p>
                <p class="introduction">
                  <%= aquarium.aquarium_introduction %>
                </p>
              </div>
              <div class="col">
                <%= link_to aquarium_likes_path(aquarium), method: "delete" do %>
                  <span class="fas fa-heart like-btn"></span>
                <% end %>
                <%= aquarium.likes.count %>

                <div class="comment-count">
                  <%= link_to aquarium_path(aquarium, anchor: "comment-form") do %>
                    <span class="far fa-comment-dots"></span>
                    <%= aquarium.comments.count %>
                  <% end %>
                </div>
              </div>
              <% if aquarium.persisted? && aquarium.aquarium_image? %>
                <%= link_to image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail"), aquarium_path(aquarium) %>
              <% else %>
                <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail"), aquarium_path(aquarium) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @liked_aquaria %>