<%= provide(:title, "user-posts") %>
<%= render "aquaria/new" %>

<div class="container user py-4">
  <div class="row">
    <%= render "users_navbar" %>

    <div class="col-lg-9 bg-color user-posts">
      <%= link_to "新規投稿", "#", class: "btn-circle", "data-bs-toggle": :"modal", "data-bs-target": :"#newModal" %>
      <div class="user-posts-box">
        <table class="table">
          <tbody class="posts">
            <h5 class="user-posts-heading">投稿一覧</h5>
            <% @user.aquaria.each do |aquarium| %>
              <tr class="posts-table">
                <td class="d-none d-lg-block">
                  <div class="row">
                    <div class="col-lg-7 col-sm-6 ms-2">
                      <span class="time-stamp">
                        <%= "#{time_ago_in_words(aquarium.created_at)}前に投稿" %>
                      </span>
                      <p class="introduction pt-2">
                        <%= aquarium.aquarium_introduction %>
                      </p>
                      <span like><i class="fas fa-heart"></i>0</span>
                      <div class="comment-count">
                        <%= link_to "#" do %>
                          <i class="far fa-comment-dots">0</i>
                        <% end %>
                      </div>
                    </div>
                    
                    <div class="col-lg-3 col-sm-12">
                      <% if aquarium.persisted? && aquarium.aquarium_image? %>
                        <%= link_to image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
                      <% else %>
                        <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>

              <div class="d-lg-none">
                <div class="posts-sp-box">
                  <div class="row">
                    <div class="col ms-3">
                      <p class="time-stamp">
                        <%= "#{time_ago_in_words(aquarium.created_at)}前に投稿" %>
                      </p>
                      <p class="introduction">
                        <%= aquarium.aquarium_introduction %>
                      </p>
                    </div>
                    <div class="col">
                      <span like><i class="fas fa-heart"></i>0</span>
                      <div class="comment-count">
                        <%= link_to "#" do %>
                          <i class="far fa-comment-dots">0</i>
                        <% end %>
                      </div>
                    </div>
                    <% if aquarium.persisted? && aquarium.aquarium_image? %>
                      <%= link_to image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
                    <% else %>
                      <%= link_to image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail aquarium-image"), aquarium_path(aquarium) %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
    