<%= provide(:title, "自分の投稿") %>

<div class="modal fade" id="new-modal" tabindex="-1" aria-hidden="true", role="dialog"></div>
<div class="container user py-4">
  <div class="row">
    <%= render "users_navbar" %>

    <div class="col-lg-9 bg-color user-posts jscroll">
      <%= link_to "新規投稿", new_aquarium_path, class: "btn-circle", remote: true %>
      <div class="user-posts-box">
        <h5 class="user-posts-heading">投稿一覧</h5>
        <% @aquaria.each do |aquarium| %>
          <div class="d-none d-lg-block shadow p-3 mb-5 bg-white rounded">
            <div class="row">
              <div class="col-lg-7 col-sm-6 ms-2">
                <span class="time-stamp">
                  <%= "#{time_ago_in_words(aquarium.created_at)}前に投稿" %>
                </span>
                <p class="introduction pt-2">
                  <%= aquarium.aquarium_introduction %>
                </p>
                <div class="likes-buttons" id="likesButtons-<%= aquarium.id %>">
                  <%= render partial: "likes/like", locals: {aquarium: aquarium} %>
                </div>
                
                <div class="comment-count">
                  <%= link_to aquarium_path(aquarium, anchor: "comment-form") do %>
                    <span class="far fa-comment-dots"></span>
                    <%= aquarium.comments.count %>
                  <% end %>
                </div>
              </div>
              
              <div class="col-lg-3 col-sm-12">
                <%= link_to aquarium_path(aquarium) do %>
                  <% if aquarium.persisted? && aquarium.aquarium_image? %>
                    <%= image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail") %>
                  <% else %>
                    <%= image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail") %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="d-lg-none">
            <div class="posts-sp-box  shadow p-3 mb-5 bg-white rounded">
              <div class="row">
                <div class="col ms-3">
                  <p class="time-stamp">
                    <%= "#{time_ago_in_words(aquarium.created_at)}前に投稿" %>
                  </p>
                  <p class="introduction">
                    <%= aquarium.aquarium_introduction %>
                  </p>
                </div>
                <div class="col">
                  <div class="likes-buttons" id="likesButtons-sp-<%= aquarium.id %>">
                    <%= render partial: "likes/like", locals: {aquarium: aquarium} %>
                  </div>

                  <div class="comment-count">
                    <%= link_to aquarium_path(aquarium, anchor: "comment-form") do %>
                      <span class="far fa-comment-dots"></span>
                      <%= aquarium.comments.count %>
                    <% end %>
                  </div>
                </div>
                <%= link_to aquarium_path(aquarium) do %>
                  <% if aquarium.persisted? && aquarium.aquarium_image? %>
                    <%= image_tag(aquarium.aquarium_image.to_s, alt: "aquarium_image", class: "img-thumbnail") %>
                  <% else %>
                    <%= image_tag("no_image.jpg", alt: "aquarium_image", class: "img-thumbnail") %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= paginate @aquaria %>